*{margin:0; padding:0;outline: 0;}
html{margin:0; padding:0;}
@font-face{ font-family: "Lato", sans-serif; src:url("fonts/Lato.woff2"); }
@font-face{ font-family: "OpenSans", sans-serif; src:url("fonts/Montserrat.woff2"); }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
body{
	font-family:"GentiumBookBasic";
	font-size:14px;
	line-height:normal;
}
